:root {
  --font-sans: 'Inter';
  --font-serif: 'Playfair Display';
}

body {
  background-color: #050505;
  color: #111;
  overflow-x: hidden;
}

.serif-italic {
  font-family: var(--font-serif);
  font-style: italic;
  font-weight: 400;
  letter-spacing: -0.02em;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 4px; }